@page
@model Assignment01_RazorPages.Pages.Shows.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Show.ShowDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Show.ShowDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Show.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Show.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Show.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Show.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Show.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Show.Slot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmResponse.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmResponse.Title)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmResponse.CountryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmResponse.CountryName)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Show?.ShowID">Edit</a> |
    <a asp-page="./Index"
       asp-route-showDate="@Model.Show.ShowDate.ToString("yyyy-MM-dd")"
       asp-route-selectedRoomId="@Model.Show.RoomID">Back to List</a>
</div>
