@page
@model Assignment01_RazorPages.Pages.Shows.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Show Management</h1>

<p>
    <a asp-page="Create"
       asp-route-showDate="@Model.ShowDate"
       asp-route-selectedRoomId="@Model.SelectedRoomId">Create New</a>
</p>

<form asp-page="Index" method="get">
    <div class="form-group">
        <label for="showDate">Date</label>
        <input asp-for="ShowDate" type="date" class="form-control" id="showDate" name="showDate" placeholder="Date">
        <label for="selectedRoomId">Room</label>
        <select asp-for="SelectedRoomId" name="selectedRoomId" asp-items="ViewBag.Rooms" ></select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shows[0].ShowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shows[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shows[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shows[0].Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shows[0].FilmID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shows[0].RoomID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shows) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShowID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShowID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShowID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
